.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 16px;
  align-items: center;
}

.wrapper-gal {
  margin: 0 10px !important /* override bs */;
}
img {
  height: 300px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  gap: 20px;
  max-height: calc(100vh - 150px);
  overflow: scroll;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.load-more {
  margin-left: 16px;
  margin-top: 16px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.invisible {
  display: none;
}
